.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.raiting-btns {
  color: hsl(var(--clr-grey-500));
  background-color: hsl(var(--clr-grey-500)/0.06);
  width: 50px;
  height: 50px;
  padding: .75rem;
  border-radius: 25px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}