.header-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-container {
  background-color: hsl(var(--clr-grey-500)/0.06);
  width: 50px;
  height: 50px;
  padding: .5rem;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-hedding {
  color: hsl(var(--clr-white));
}