.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 2rem;
  background-color: hsl(var(--clr-grey-900));
  border-radius: 1.5rem;
  width: min(100%, 380px);
  min-height: 400px;
  margin-inline: auto;
}

.submit-choice {
  color: hsl(var(--clr-orange));
  background-color: hsl(var(--clr-grey-500)/0.08);
  padding: .4rem 1.25rem;
  border-radius: 2rem;
}

.msg-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-heading {
  color: hsl(var(--clr-white));
}

.submit-text {
  line-height: 1.5;
  font-size: var(--fs-14);
}